header {
    margin: 1rem auto 2rem;
    display: flex;
    align-items: center;
    height: 50px;
    object-fit: fill;
    position: relative;

    img {
        height:100%;
    }
    h2 {
        margin:0 20px;
    }
}